:root {
  --clr-primary: #733FC8;
  --clr-secondary: #48556A;
  --clr-secondary-2: #48556A;
  --clr-accent-1: #19202D;
  --clr-accent-2: #ECF2F8;
  --clr-hover-1: #755CDE;
  --clr-hover-2: #F6A560;
  --clr-hover-3: #7A746E;
  --clr-light: #FFFFFF;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  
  /* font-families */
  --ff-heading: "Poppins", sans-serif;
  --ff-subheading: "Raleway", sans-serif;
  --ff-serif: "Roboto Slab", sans-serif;
  --ff-body: "Barlow Semi Condensed", sans-serif;
}