@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --clr-primary: #030303;
  --clr-secondary: #EB7565;
  --clr-tertiary: #61C4B7;
  --clr-accent-1: #F39E9E;
  --clr-accent-2: #552049;
  --clr-hover-1: #755CDE;
  --clr-hover-2: #F6A560;
  --clr-hover-3: #7A746E;
  --clr-light: #FFF7F0;
}

body {
  font-family: 'Happy Monkey', cursive;
}

.gift-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-image: url("/gift-cover.jpeg");
  background-size: cover;
}

#gift-img {
  &--happy {
    &:hover {
      background-image: url("/friends-yeah.gif");
    }
  }

  &--hot {
    &:hover {
      background-image: url("/friends-yeah.gif");
    }
  }
}